<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main>
        <section>
            <h2>Create an Account</h2>
            <form action="/signup" method="POST">
                <% if (typeof error !== "undefined") { %>
                    <%= error.message %> 
                <% } %> 
                <label>Username</label>
                <input 
                type="text"
                name="username"
                placeholder="Your Username"
                required
                />
                <label>Email</label>
                <input 
                type="text"
                name="email"
                placeholder="email@domain.com"
                required
                />
                <label>Password</label>
                <input 
                type="password"
                name="password"
                placeholder="************"
                required
                />
                <label>Avatar (Optional)</label>
                <input 
                type="text"
                name="image"
                placeholder="Image URL"
                />
                <button type="submit">Create Account</button>
                <a href="/login">Already signed up? Click here!</a>
            </form>
        </section>
    </main>
</body>
</html>