<h1><a href="/home">Dreamscribe</a></h1>
<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/journals">Journal Feed</a></li>
    <li><a href="/profile">Profile</a></li>
</ul>