<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <section>
            <h2>Create New Journal Entry</h2>
            <form>
                <label>Title</label>
                <input 
                type="text"
                name="title"
                placeholder="Title of Entry"
                required
                />
                <label>Content</label>
                <textarea 
                name="content"
                placeholder="Dream content here"
                required></textarea>
                <label>Make Dream Public</label>
                <input 
                type="checkbox"
                name="isPublic"
                value="false"
                />
                <button type="submit">Create Journal Entry</button>
                <a href="/journals">Cancel</a>
            </form>
        </section>
    </main>
</body>
</html>