<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <section>
            <h2>Create New Journal Entry</h2>
            <form action="/journals" method="POST">
                <% if (typeof error !== "undefined") { %>
                    <%= error.message %> 
                <% } %> 
                <label>Title:</label>
                <input 
                type="text"
                name="title"
                placeholder="Title of Entry"
                required
                />
                <label>Content:</label>
                <textarea 
                name="content"
                placeholder="Dream content here"
                required></textarea>
                <label>Make Dream Public:</label>
                <input 
                type="radio"
                name="isPublic"
                value="true"
                id="radio-yes"
                />
                <label for="radio-yes">Yes</label>
                <input 
                type="radio"
                name="isPublic"
                value="false"
                id="radio-no"
                checked
                />
                <label for="radio-no">No</label>
                <button type="submit">Create Journal Entry</button>
                <a href="/journals">Cancel</a>
            </form>
        </section>
    </main>
</body>
</html>