<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <section>
            <div>
                <h3>Journal Title</h3>
                <p>Date created</p> 
            </div>
            <p>Content: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil corrupti accusantium tenetur veritatis ratione explicabo exercitationem, voluptatem nulla enim dolorem, totam quas accusamus voluptatum placeat pariatur sapiente fuga similique? Deserunt.</p> 
        </section>
        <section>
            <a href="/journals/1/edit">Update Entry</a>
            <a href="#">Make Public</a>
            <a href="#">Delete Entry</a>
        </section>
    </main>
</body>
</html>