<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head') %>
</head>
<body>
    <h1>404 - Page not found</h1>
    <p>Uh oh! Looks like you got lost in dreamland. Do a <em>reality check</em>, then click the button below to return home!</p>
    <form action="/home" method="GET">
        <button type="submit">Home</button>
    </form>
</body>
</html>