<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <header>
        <section>
            <h3>Profile</h3>
            <img src="#" alt="#">
            <p><%= thisUser.username %></p>
            <p><%= thisUser.joinDate %></p>
            <% if (user.id === thisUser.id) { %> 
                <a href="/home"><button>Update profile</button></a>
            <% } %> 
        </section>
        <section>
            <div>
                <label for="">Search Entries</label>
                <input /> 
                <button type="submit">Search</button>
            </div>
            <div>
                <a href="/journals/new">New Journal Entry</a>
            </div>
        </section>
     </header>
     <main>
        <section>
            <h3>Journal Entries</h3>
            <div>
                <a href="/journals/1">
                    <div>
                        <h5>Title</h5>
                        <p>Date created</p>
                    </div>
                    <p>Content: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil corrupti accusantium tenetur veritatis ratione explicabo exercitationem, voluptatem nulla enim dolorem, totam quas accusamus voluptatum placeat pariatur sapiente fuga similique? Deserunt.</p>
                </a>
                <a href="/journals/2">
                    <div>
                        <h5>Title</h5>
                        <p>Date created</p>
                    </div>
                    <p>Content: Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, perferendis quia dolorum ea vero, impedit ratione quidem explicabo nisi ullam laboriosam temporibus quis facere iusto officiis aspernatur beatae iste? Consectetur.</p>
                </a>
            </div>
        </section>
    </main>
</body>
</html>