<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
        <link rel="stylesheet" href="/styles/info.css">
    <main>
        <section class="section">
            <h3 class="about__heading">About Dreamscribe</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam qui, dolores quo nihil tenetur quas totam laborum dignissimos ipsa illum quia, assumenda natus illo quasi inventore explicabo voluptas cupiditate.</p>
        </section>
        <section class="section">
            <h3 class="about__heading">John D. Watt</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam qui, dolores quo nihil tenetur quas totam laborum dignissimos ipsa illum quia, assumenda natus illo quasi inventore explicabo voluptas cupiditate.</p>
            <div id="about__links">
                <a href="#">Portfolio</a>
                <a href="https://github.com/johndwatt">Github</a>
                <a href="https://www.linkedin.com/in/john-d-watt/">LinkedIn</a>
            </div>
        </section>
        <section class="section">
            <h3 class="about__heading">Attributions</h3>
            <p>Pictures for Dreamscribe were taken from the following photographers:</p>
            <ul id="about__ul">
                <a href="https://unsplash.com/@dariusbashar"><li>Darius Bashar</li></a>
                <a href="https://unsplash.com/@craftedbygc"><li>Green Chameleon</li></a>
                <a href="https://unsplash.com/@foemedia"><li>Fabian Oelkers
                </li></a>
            </ul>
        </section>
    </main>
</body>
</html>