<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <section>
            <h3>About Dreamscribe</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam qui, dolores quo nihil tenetur quas totam laborum dignissimos ipsa illum quia, assumenda natus illo quasi inventore explicabo voluptas cupiditate.</p>
        </section>
        <section>
            <h3>John D. Watt</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam qui, dolores quo nihil tenetur quas totam laborum dignissimos ipsa illum quia, assumenda natus illo quasi inventore explicabo voluptas cupiditate.</p>
            <div>
                <a>Portfolio</a>
                <a href="#">Github</a>
                <a href="#">LinkedIn</a>
            </div>
        </section>
    </main>
</body>
</html>