<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/info.css">
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main class="center__elements">
        <section class="section">
            <h3 class="about__heading">About Dreamscribe</h3>
            <p>Dreamscribe is an online repository for lucid dreamers to journal their dreams and share those dreams with one another. Journal entries are private by default, but can be made public and shared on the main feed. Sign up and start recording your dreams today with Dreamscribe!</p>
        </section>
        <section class="section">
            <h3 class="about__heading">John D. Watt</h3>
            <p>John D. Watt, who goes by J.D., is a full-stack developer with a background in psychological research. An avid lucid dreamer, J.D. has been recording his dreams for nearly a decade. He decided to put his coding skills to the test and build an app where he could store his dreams. You can find him and his work at the following links:</p>
            <div id="about__links">
                <a href="#" target="_blank">Portfolio</a>
                <a href="https://github.com/johndwatt" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/john-d-watt/" target="_blank">LinkedIn</a>
            </div>
        </section>
        <section class="section">
            <h3 class="about__heading">Attributions</h3>
            <p>Pictures for Dreamscribe were taken from the following photographers on unsplash. Click the names below to be taken to their page:</p>
            <ul id="about__ul">
                <a href="https://unsplash.com/@dariusbashar" target="_blank"><li>Darius Bashar</li></a>
                <a href="https://unsplash.com/@craftedbygc" target="_blank"><li>Green Chameleon</li></a>
                <a href="https://unsplash.com/@foemedia" target="_blank"><li>Fabian Oelkers
                </li></a>
            </ul>
        </section>
    </main>
</body>
</html>