<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main>
        <section>
            <img src="#" alt="#">
        </section>
        <section class="section">
            <h3>Welcome to Dreamscribe!</h3>
            <p>A place to journal your dreams.</p>
            <article>
                <a href="/about">About Dreamscribe</a>
            </article>
            <article>
                <a href="/signup">Getting Started</a>
            </article>
        </section>
    </main>
</body>
</html>