<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
        <link rel="stylesheet" href="/styles/info.css">
    <main>
        <section id="home__top">
            <img class="image" id="home__top__img" src="https://source.unsplash.com/e9rkZKjdlSc" alt="moon">
        </section>
        <section class="section" id="welcome">
            <div id="welcome__heading">
                <h1>Welcome to Dreamscribe!</h1>
                <p>A place to journal your dreams.</p>
            </div>
            <div id="welcome__links">
                <article class="welcome__links__section">
                    <a href="/about">
                    <div class="image__container--small">
                        <img class="image" src="https://source.unsplash.com/tcyW6Im5Uug" alt="About">
                    </div>
                    <h4>About Dreamscribe</h4>
                    </a>
                </article>
                <article class="welcome__links__section">
                    <a href="/signup">
                    <div class="image__container--small">
                        <img class="image" src="https://source.unsplash.com/3KYviZ-qG7M" alt="Get-Started">
                    </div>
                    <h4>Getting Started</h4>
                    </a>
                </article>
            </div>
        </section>
    </main>
</body>
</html>