<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <header>
        <section>
            <h3>Profile</h3>
            <img src="#" alt="#">
            <p>Username</p>
            <p>Join Date</p>
        </section>
        <section>
            <div>
                <input /> 
                <button type="submit">Search</button>
            </div>
            <div>
                <a href="/journals/new">New Journal Entry</a>
            </div>
        </section>
     </header>
        <section>
            <h3>Journal Entries</h3>
            <div>
                <article>
                    <div>
                        <h5>Title</h5>
                        <p>Date created</p>
                    </div>
                    <p>Content: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil corrupti accusantium tenetur veritatis ratione explicabo exercitationem, voluptatem nulla enim dolorem, totam quas accusamus voluptatum placeat pariatur sapiente fuga similique? Deserunt.</p>
                </article>
                <article>
                    <div>
                        <h5>Title</h5>
                        <p>Date created</p>
                    </div>
                    <p>Content: Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, perferendis quia dolorum ea vero, impedit ratione quidem explicabo nisi ullam laboriosam temporibus quis facere iusto officiis aspernatur beatae iste? Consectetur.</p>
                </article>
            </div>
        </section>
</body>
</html>