<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/info.css">
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main class="center__elements">
        <section class="section">
            <h3 class="about__heading">Dreamscribe Resources</h3>
            <p>Dreamscribe is an online repository for lucid dreamers to journal their dreams and share those dreams with one another. Journal entries are private by default, but can be made public and shared on the main feed. Sign up and start recording your dreams today with Dreamscribe!</p>
            <div id="about__links">
                <a href="#" target="_blank">Portfolio</a>
                <a href="https://github.com/johndwatt" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/john-d-watt/" target="_blank">LinkedIn</a>
            </div>
        </section>
    </main>
</body>
</html>