<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/info.css">
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main class="center__elements">
        <section class="section">
            <h3 class="about__heading">Dreamscribe Resources</h3>
            <p>Dreamscribe provides links to the following helpful resources on lucid dreaming. Whether you are new to lucid dreaming or a seasoned veteran, you will find these resources invaluable for getting started, picking the hobby back up, or discovering new techniques to take your practice to the next level.</p>
            <hr class="space-top"/>
            <h5 class="space-top" style="font-size: 20px;">Lucid Dreaming</h5>
            <p class="space-top">Exploring the World of Lucid Dreaming is widely considered the leading book on the subject. Based on findings from his sleep research, Dr. Stephen LaBerge takes a deep dive into the science of lucid dreaming and shares some techniques for training oneself to dream conciously. You can purchase the book here:</p>
            <div id="about__links">
                <a href="https://www.amazon.com/Exploring-World-Dreaming-Stephen-LaBerge/dp/034537410X" target="_blank">Exploring the World of Lucid Dreaming</a>
            </div>
            <p class="space-top">Dreamviews is an amazing resource for learning about lucid dreaming techniques and terms. You can access tutorials, a dictionary of terms, and interact with other lucid dreamers. Check it out below:</p>
            <div id="about__links">
                <a href="https://www.dreamviews.com/wiki/" target="_blank">Dreamviews Wiki</a>
            </div>
            <p class="space-top">r/LucidDreaming hosts one of the most active communities of lucid dreamers on the net. The wiki is full of helpful resources. It is also a great place to ask questions about lucid dreaming experiences and techniques. Use the link below:</p>
            <div id="about__links">
                <a href="https://www.reddit.com/r/LucidDreaming/" target="_blank">Lucid Dreaming Subreddit</a>
            </div>
        </section>
    </main>
</body>
</html>