$item-color: #132F64;
$background-color: #071022;
$hover-color: #BFC1D9;
$font-color: #F1EEFF;
$shadow-rgba: rgba(241, 238, 255, 0.2);
$warning-color: #FFE996;
$danger-color: #FF7B7B;
$success-color: #a1ff9fdd;
