/* 
current color scheme:
$item-color: #132F64;
$background-color: #071022;
$hover-color: #F1EEFF;
$font-color: #F1EEFF;
$shadow-rgba: rgba(241, 238, 255, 0.2);

saved, but not used


$hover-color: #FFED24;
$font-color: #DBC65E;

$font-color: #F7D219;
$hover-color: #FFED24;

$hover-color: #9895CC;
$font-color: #CBE7FA; 

$item-color: #140F75;

$item-color: #484C6B;
$background-color: #403C8C;

$item-color: #132F64;
$hover-color: #dac97fdd;
$font-color: #fcf070;
$background-color: #071022;

283B8F

132F64

#33364D*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: #F1EEFF;
  background-color: #071022;
}

a {
  text-decoration: none;
  color: #F1EEFF;
}
a:hover {
  color: #BFC1D9;
}

.button {
  padding: 10px;
  border: solid 2px #F1EEFF;
  border-radius: 15px;
  margin: 0px 5px;
  background-color: #132F64;
  color: #F1EEFF;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s;
}
.button:hover {
  color: #132F64;
  border-color: #132F64;
  background-color: #BFC1D9;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.form .form__error {
  border: 5px solid #FF7B7B;
  color: #FF7B7B;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
}
.form .form__error:hover {
  color: #132F64;
  background-color: #FF7B7B;
  border-color: #132F64;
  transition: 0.2s;
}
.form .form__field {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.input {
  padding: 5px;
  margin-top: 3px;
  background-color: #F1EEFF;
  border-color: #BFC1D9;
  border-radius: 8px;
}
.input:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.section {
  background-color: #132F64;
  padding: 25px;
  margin: 25px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(241, 238, 255, 0.2);
  display: flex;
  flex-direction: column;
}
.section .section__flex {
  display: flex;
  padding: 15px;
  align-items: center;
}
.section:hover {
  box-shadow: 0 8px 16px 0 rgba(241, 238, 255, 0.2);
}

.journal {
  background-color: #132F64;
  padding: 25px;
  margin: 25px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(241, 238, 255, 0.2);
  transition: 0.2s;
}
.journal .journal__flex {
  display: flex;
  flex-direction: column;
}
.journal .journal__title {
  padding: 5px 0px;
}
.journal .journal__flex__user {
  padding: 5px 0px;
}
.journal .journal__flex__content {
  padding: 5px 0px;
}
.journal:hover {
  box-shadow: 0 8px 16px 0 rgba(241, 238, 255, 0.2);
  transform: scale(1.02);
}

.navbar {
  background-color: #132F64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.navbar .navbar__logo:hover {
  color: #BFC1D9;
}
.navbar .navbar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar .navbar__list__item {
  padding: 10px;
  border: solid 2px #F1EEFF;
  border-radius: 15px;
  margin: 0px 5px;
  transition: 0.2s;
  white-space: nowrap;
}
.navbar .navbar__list__item:hover {
  color: #132F64;
  border-color: #132F64;
  background-color: #BFC1D9;
}

/*# sourceMappingURL=main.css.map */
